/* Establece el diseño flexible para el body, asegurando que ocupe todo el alto de la ventana */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Diseño para el main, asegurando un margen inferior y espaciado adecuado */
main {
    margin-bottom: 3rem;
    padding: 2rem 1rem;
}

/* Contenedor del formulario con un diseño centrado y bordes redondeados */
.form-container {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 0 auto;
}

/* Estilo para el título, centrado y con un color específico */
.form-container h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    font-size: 2.25rem;
}

/* Configuración de los grupos de formularios */
.form-group {
    margin-bottom: 1.5rem;
}

/* Estilos para las etiquetas de los formularios */
.form-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

/* Estilo para los campos de entrada y textarea */
input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

/* Estilos del botón de envío, con color de fondo y transiciones suaves */
.submit-btn {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* Cambia el color de fondo cuando se pasa el ratón sobre el botón */
.submit-btn:hover {
    background-color: var(--primary-color);
}