body { /* Estilos generales para el cuerpo de la página */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}

main { /* Estilos para el elemento principal de la página */
    margin-bottom: 3rem;
    margin-top: 7rem;
}

.form-container { /* Contenedor principal del formulario */
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 0 auto;
}

.form-container h1 { /* Estilos para el encabezado principal del formulario */
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    font-size: 2.25rem;
    text-align: center;
}

.form-group { /* Contenedor para grupos de campos del formulario */
    margin-bottom: 1.5rem;
}

label { /* Estilos para las etiquetas de los campos del formulario */
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

small { /* Estilos para los textos secundarios o aclaraciones */
    display: block;
    color: #666;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

input, textarea { /* Estilos generales para los campos de entrada y áreas de texto */
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.submit-btn { /* Estilos para el botón de envío */
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-btn:hover { /* Estilos para el botón de envío al pasar el cursor */
    background-color: var(--primary-color);
}
