/* COLORES GENERALES */

:root {
    --primary-color: #e44d26;
    --secondary-color: #f16529;
    --background-color: #f9f9f9;
    --border-color: gray;
    --text-color: #333;
    --accent-color: #4CAF50;
    --card-background: #ffffff;
    --hover-color: #ffd700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Titulo"; 
    src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Texto Header / Footer"; 
    src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

.header {
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.logo-text {
    font-family: "Titulo";
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--card-background);
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    list-style: none;
    font-family: "Texto Header / Footer";
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: var(--card-background);
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--hover-color);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: var(--card-background);
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.header.sticky {
    background-color: rgba(228, 77, 38, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header.sticky .nav-container {
    padding: 0.5rem 2rem;
}

.header.sticky .logo img {
    height: 30px;
}

.header.sticky .logo-text {
    font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
}


/* FOOTER */

.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 3rem 1rem;
    font-family: "Texto Header / Footer";
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.footer-title {
    font-family: "Titulo";
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer-subtitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer-contact a,
.footer-nav-list a,
.footer-legal a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact a:hover,
.footer-nav-list a:hover,
.footer-legal a:hover {
    color: var(--hover-color);
}

.footer-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-nav-list li {
    margin-bottom: 0.5rem;
}

.footer-logo {
    max-width: 150px;
    height: auto;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    margin: 0;
}

.footer-legal {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {

    .footer-container,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 2rem;
    }

    .footer-legal {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
    }
}

/* BOTON AUTOMATICO SCROLL */

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s, visibility 0.6s;
    background-color: var(--primary-color);
    border: none;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px var(--text-color);
    cursor: pointer;
}

#scrollToTop i {
    color: var(--background-color);
    font-size: 20px;
}

#scrollToTop:hover {
    background-color: var(--background-color);
    box-shadow: 0px 4px 12px var(--text-color);
    transform: scale(1.05);
    transition: transform 0.2s, background-color 0.3s, color 0.3s;
}

#scrollToTop:hover i {
    color: var(--primary-color);
}

#scrollToTop.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

#scrollToTop.hide {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
}