
.main-contacto {
    margin: 8rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.main-contacto h2 {
    color: #f16529;
    margin-bottom: 15px;
}